body{
    color: #40514E;
    margin: 0;
    background-color: #3C3744;
    text-align: center;
    font-family: 'Helvetica Neue',Helvetica,Arial, sans-serif;
    font-size: 1em;
}
.top-container{
    position: relative;
    padding: 100px 0 100px 0;
}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 5.625rem;
    line-height: 2;

}
p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #3D52D5;
}
h2{
    font-family: 'Arvo', serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #FBFFF1;
    font-size: 2rem;
}

.middle-container{
margin: 100px 0;
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.Me-image{
    width: 200px;
    height: 200px;
}
.web{
    width: 25%;
    border-radius: 5%;
    float: left;
    margin-right: 30px;
}
.mobile{
    width: 25%;
    border-radius: 5%;
    float: right;
    margin-left: 30px;
}
a{
    color: #11999E;
}
.footer-link{
    color: #11999E;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.bottom-container{
    padding-top: 50px;
    background-color: #66BFBF;
    margin-bottom: 0;
    line-height: 3;
}
.bottom-text{
    color: #EAF6F6;
    margin: 0;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin-top: 200px;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-me{
    margin: 200px 0 100px 0;
}

.button {
    margin-top: 20px;
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
